<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <div class="board mb-4">
        <div *ngFor="let row of currentGameState.grid; let rowIndex = index" class="row">
          <div *ngFor="let cell of row; let colIndex = index" class="col-4 p-1">
            <div class="cell d-flex justify-content-center align-items-center border border-dark rounded" 
                 [style.background-color]="cell.color" 
                 (click)="makeMove(rowIndex, colIndex)" 
                 style="height: 100px; font-size: 24px; cursor: pointer;">
              {{ cell.symbol }}
            </div>
          </div>
        </div>
      </div>
      <div class="resultRibbon" *ngIf="currentGameState.isGameOver">
        <div class="alert alert-success" *ngIf="!currentGameState.isTie">
          <h4 class="player">{{currentGameState.winner.name}} is the winner</h4>
          <p class="correct">Correct answers: {{currentGameState.winner.correctAnswers}}</p>
          <p class="incorrect">Incorrect answers: {{currentGameState.winner.incorrectAnswers}}</p>
        </div>
        <div class="alert alert-info" *ngIf="currentGameState.isTie">
          <h4>Game Resulted in a Tie</h4>
        </div>
      </div>
      <div class="reset mt-3">
        <button class="btn btn-primary btn-lg" (click)="resetGame()">Reset Game</button>
      </div>
    </div>
  </div>
</div>
